spring:
  application:
    name: site

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      pool-name: HikariPool
      maximum-pool-size: 5
      minimum-idle: 2
      idle-timeout: 300000
      max-lifetime: 900000
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true
    open-in-view: false

  flyway:
    baseline-on-migrate: true
    validate-on-migrate: true
    enabled: true
    out-of-order: false
    locations: classpath:db/migration

  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 5MB
  profiles:
    active: prod

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET}
      expiration: 86400000 # 24 hours

server:
  port: 8080
  shutdown: graceful
  tomcat:
    max-threads: 50
    min-spare-threads: 5
    accept-count: 100
    connection-timeout: 20000

# AWS S3 Configuration
aws:
  s3:
    access-key: ${AWS_ACCESS_KEY}
    secret-key: ${AWS_SECRET_KEY}
    region: ${AWS_REGION}
    bucket-name: ${AWS_BUCKET_NAME}

logging:
  level:
    root: INFO
    org.springframework.web: WARN
    org.hibernate.SQL: WARN
    org.hibernate.type.descriptor.sql: WARN

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when_authorized